files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIC/TCCAeUCAQAwgaIxCzAJBgNVBAYTAlVTMRIwEAYDVQQIDAlXaXNjb25zaW4x
      EDAOBgNVBAcMB01hZGlzb24xSDBGBgNVBAMMP0V4ZXJjaXNlLXdlZWs3LWVudi5l
      YmEtNnAzY25jdjcudXMtZWFzdC0yLmVsYXN0aWNiZWFuc3RhbGsuY29tIDEjMCEG
      CSqGSIb3DQEJARYUYWpvaG5zb25Aa29pLWRldi5jb20wggEiMA0GCSqGSIb3DQEB
      AQUAA4IBDwAwggEKAoIBAQClHwROdTqYr8HxqpL3FHlK3wN4A07clKl49MjW6IZN
      hnMH27YMNi1+evF7suIEnNfCFr9xiP5IMLx3Tvv803PACAnN9o4CKHKEEgY7OEcg
      CJNg7vpzhMJd4zfONp6SOEr/+ChA5418OH4H5uWYWne6nvff1/qXtJhlgm6NaMRy
      mFcAbtIo4V4K5aPSgGA0SDYNlzYfKp67zMnRdKsLL8ShXy/RYWu8Bx2M4vcSyfiA
      8cvNMjqkhHKA7edUPfj/9lhmf1BIxJNRvvbfsk/LLLiMUd39tMvJyPd+9do6tVhY
      580jK6jBknA63bqKQjguJ40TYFYupMCxkTNb27fuRZv/AgMBAAGgFTATBgkqhkiG
      9w0BCQcxBgwEMTEwNTANBgkqhkiG9w0BAQsFAAOCAQEAJNvim4LHRTwlahibnhrE
      R9XBQQ2d3Fc68Xo++jZ2VNDDdQNWgAq0kN24qxvVqIignhr7OT1l7RK3frb/RkI/
      U4yEJmWipxPAAuM210l0GXjyapXS/O97FvS0IHN5lo6HKPq72sflQ0aXmgrCafuT
      maBQq1HYLS/wpDOyuU5qqnn1KO5ROKam8sclYQBm4FPS8yFg5dD2eNvKHy6ZBwL7
      SjY1dJ9pecCMpjn3bG0jfCSD06ZPeu0iCrutRwj9ZYEucwcGdXuSC8SicA8zWf9+
      B3GcUKyq/hplVFkYsj9sGFnB+i7z0KURjJ2FTusuAoeRpPF5IQxpXmCBV36PC6/Y
      Tg==
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQClHwROdTqYr8Hx
      qpL3FHlK3wN4A07clKl49MjW6IZNhnMH27YMNi1+evF7suIEnNfCFr9xiP5IMLx3
      Tvv803PACAnN9o4CKHKEEgY7OEcgCJNg7vpzhMJd4zfONp6SOEr/+ChA5418OH4H
      5uWYWne6nvff1/qXtJhlgm6NaMRymFcAbtIo4V4K5aPSgGA0SDYNlzYfKp67zMnR
      dKsLL8ShXy/RYWu8Bx2M4vcSyfiA8cvNMjqkhHKA7edUPfj/9lhmf1BIxJNRvvbf
      sk/LLLiMUd39tMvJyPd+9do6tVhY580jK6jBknA63bqKQjguJ40TYFYupMCxkTNb
      27fuRZv/AgMBAAECggEAChD4AZMiqAhJpI1SOanlMxahbtbqHzHDmyd2eajh9yae
      gKN5Al7ogHDHo/47H9jdS8HN7gKnWIilagibUsXOpVhYG1b6lVBt8CCWgf8OUaT0
      MdFKh3GtKm1zC36c8Cu/tsHO18DGCVqlpEmumY56WhrdivyZvwHi1d1ma/cvyA8+
      3zx/NY+WSpq1/rf8LI0h7G9GQxNIxzhIMfAB+BuK+WiluBN/zz9WIcsKKml4Lapk
      jlqPHWBwiMnMSpx4LpIzcLnytmjXPxkP7zEZsqqao6spyjVwpDwjeEbdLAGgQJVQ
      272tGiaL+hcXpKegpgwj4mXiv+GTG6SUXcAFGy0D4QKBgQDpQk+f8FOabGtdKNiy
      ZlK/WSZQxggAUT7dc+/aV4xp/YWumj6B2OisEozniREZjyNCdwLDG8hN+eHNOjwo
      7cNdb25PAdDlQ5VYr/AX+0+Jg3DsO7U0IZlYdcNa1xpk8p52PKHYXEhq6PQ/6v1z
      o5R4JlpATFreJgrEBlYzz2/eeQKBgQC1OB4vZd4fk06fw18hvtbDR9JUjz5O+VSX
      r+fsatZ1iH4axw4/BBup61/YbRUvphOYSEYZF5CT2n54ZLZTGfLyk3Kw3J3Mjw+q
      Yx9/HumzkQdhlk5ZkWkt5WEi+vECCbRsO9oGOsQYrCVtZW862Bjfy3ac1x5r7cAa
      AhJMK69QNwKBgFUr61shK8XFNObNVWK+zhQkf0MbLCzBfczq2nfFY/YHplp847oR
      89Nw6pZYjC/i/iL0xcNsT5V5WqPPUcw4FQ/28jZTGW29YbkCdQ6sqvwxTHhVzPJ+
      GjoctfpjdLXLiWTu+sG/4Il5CkaUjXs+DaZZirbTqpJXHbM6BRvh8J0xAoGAKE64
      IBDHbDyGo3CAS3A4Mq1Z8ib+U/CPSUH+Ew7cbr4SVoBqAcg3Iv9QjUIOEVAeUaPZ
      u6ELLmfN85drGmbOK/hx7TbU/nffoyVzDwJgNumOO72D5dY7D9NSXMZ2Lt7bu6tA
      XlxZ26cGmCOUrwD732NRGaebg6QZM2+8hCa/UtcCgYEAuUoy/oGtYLnfmOXxw8JG
      2XfH47kL3qVUjfvXIUNd9y1SBexFiVcrHyrJhwCTP+62pmwEdBeGME9Vi+y57xEZ
      wo0PeHwBPNAMZ1VReCVAsYkIm30RERYmZcAGhhy8cRT3ekGNe65nCIYg1PhNpoeW
      ABZxGzP1u//QiPeF/YFQKGs=
      -----END RSA PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart