html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#homePage {
    flex-grow: 1;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

footer {
    background: #222;
    text-align: center;
    font-size: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    margin-bottom: 1rem;
}

.task-elements {
    display: flex;
    flex-direction: row;
}

.task-buttons {
    justify-content: right;
}

.grid article {
    padding: 0.75rem;
    background-color: #f5f5f5;
    border-radius: 0.5rem;
    font-size: 0.9rem;
}

body {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
}

main {
    align-content: center;
    align-items: center;
}

article {
    display: flex;
    flex-direction: column;
    height: 100%; /* Ensures the article fills the available space */
}

.home-page {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/*footer {*/
/*    background: #222;*/
/*    text-align: center;*/
/*    padding: 1rem;*/
/*    font-size: 1rem;*/
/*    margin-top: auto; !* Ensures footer stays at the bottom of the page *!*/

/*}*/

.welcomeCard {
    height: 200px;
    width: 520px;
    text-align: center;
    align-self: center;
    display: flex;
    margin: auto auto 20px auto ;
}

.infoCard {
    height: 330px;
    width: 680px;
    text-align: center;
    align-self: center;
    display: flex;
    margin: 20px auto 20px auto ;
}

/* text-fonts */

.chicle-regular {
    font-family: "Chicle", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.8em;
}

.nav-font {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-size: 1.8em;
    font-style: italic;
}

.dm-serif-text-regular, h1, h2, h3, #welcomeCard {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
}

.dm-serif-text-regular-italic {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-size: 2.8em;
    font-style: italic;
}

/* <weight>: Use a value from 300 to 900
   <uniquifier>: Use a unique and descriptive class name */

    .merriweather-paragraph, p, li, article {
                       font-family: "Merriweather", serif;
                       font-optical-sizing: auto;
                       font-weight: 300;
                       font-style: normal;
                       font-variation-settings:
                               "wdth" 100;
                   }
